# Excluir carpetas de compilacion de STM32CubeIDE
Debug/
Release/

# Excluir archivos binarios y compilados
*.o
*.elf
*.bin
*.hex
*.map
*.su
*.list

# Excluir configuraciones locales del IDE
.metadata/
.settings/
*.launch
*.bak

# Archivos del sistema y de CubeMX innecesarios
.DS_Store
*.mxproject